/ {
    compatible = "zmk,keyboard";

    keyboard {
        label = "2x5 ProMicro NRF52840 Direct Wire";
        key_count = <10>;

        keys {
            compatible = "zmk,key";

            key0 {
                label = "K1";
                pin = <&gpio0 2>;  // P0.02
            };
            key1 {
                label = "K2";
                pin = <&gpio0 3>;  // P0.03
            };
            key2 {
                label = "K3";
                pin = <&gpio0 4>;  // P0.04
            };
            key3 {
                label = "K4";
                pin = <&gpio0 5>;  // P0.05
            };
            key4 {
                label = "K5";
                pin = <&gpio0 6>;  // P0.06
            };
            key5 {
                label = "K6";
                pin = <&gpio0 7>;  // P0.07
            };
            key6 {
                label = "K7";
                pin = <&gpio0 8>;  // P0.08
            };
            key7 {
                label = "K8";
                pin = <&gpio0 9>;  // P0.09
            };
            key8 {
                label = "K9";
                pin = <&gpio0 10>; // P0.10
            };
            key9 {
                label = "K10";
                pin = <&gpio0 11>; // P0.11
            };
        };
    };
};
