#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {   // Layer 0
            display-name = "Base";
            bindings = <
                &kp Q &kp W &kp E &kp R
                &kp A &kp S &mo 1 &mo 2
            >;
        };

        lower_layer {     // Layer 1
            display-name = "Lower";
            bindings = <
                &kp EXCL &kp AT &kp HASH &kp DLR
                &trans &trans &none &none
            >;
        };

        raise_layer {     // Layer 2
            display-name = "Raise";
            bindings = <
                &kp N1 &kp N2 &kp N3 &kp N4
                &trans &trans &none &none
            >;
        };
    };
};

