#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            bindings = <
                &kp Q   &kp W   &kp E   &kp R   &kp T
                &kp Y   &kp U   &kp I   &mo 1   &mo2
                &studio_unlock
            >;
        };

        lower_layer {
            display-name = "Lower";

            bindings = <
                &kp N1  &kp N2  &kp N3  &kp N4  &kp N5
                &kp N6  &kp N7  &kp N8  &kp N9  &kp N0 
                &none
            >;
        };

        raise_layer {
            display-name = "Raise";

            bindings = <
                &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PERCENT
                &kp CARET &kp AMPS &kp ASTRK &kp LPAR  &kp Q 
                &none
            >;
        };
    };
};

