#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &my_layout;
    };

    my_layout: my_layout {
        compatible = "zmk,physical-layout";
        display-name = "My1Key";
        transform = <&keymap_transform>;
        keys
            /* Col 0 — rotated 30.6° clockwise around each key's own center */
            /* pre-rotation position estimated from photo */
            = <&key_physical_attrs 100 100   0 150 3060  50 200>
            , <&key_physical_attrs 100 100   0 250 3060  50 300>

            /* Col 1 — 0.5u lower than col 2 */
            , <&key_physical_attrs 100 100 150  50 0 0 0>
            , <&key_physical_attrs 100 100 150 150 0 0 0>

            /* Col 2 — reference column, highest */
            , <&key_physical_attrs 100 100 250   0 0 0 0>
            , <&key_physical_attrs 100 100 250 100 0 0 0>

            /* Col 3 — 0.25u lower than col 2 */
            , <&key_physical_attrs 100 100 350  25 0 0 0>
            , <&key_physical_attrs 100 100 350 125 0 0 0>

            /* Col 4 — 1 key only, 0.5u lower than col 2 */
            , <&key_physical_attrs 100 100 450  50 0 0 0>
            ;
    };

    keymap_transform: keymap_transform {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        columns = <10>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)
            RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)
        >;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
};