#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout;
    };

    physical_layout: physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "My1Key";
        transform = <&keymap_transform>;
        keys
            = <&key_physical_attrs 100 100   0  50 0 0 0>
            , <&key_physical_attrs 100 100 100  25 0 0 0>
            , <&key_physical_attrs 100 100 200   0 0 0 0>
            , <&key_physical_attrs 100 100 300  25 0 0 0>
            , <&key_physical_attrs 100 100 400  50 0 0 0>

            , <&key_physical_attrs 100 100   0 150 0 0 0>
            , <&key_physical_attrs 100 100 100 125 0 0 0>
            , <&key_physical_attrs 100 100 200 100 0 0 0>
            , <&key_physical_attrs 100 100 300 125 0 0 0>
            , <&key_physical_attrs 100 100 400 150 0 0 0>
            ;
    };

    keymap_transform: keymap_transform {
        compatible = "zmk,matrix-transform";
        rows = <1>;
        columns = <10>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)
            RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)
        >;
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 24 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
};